@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

*{
    font-family: Manrope;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    transition: linear 1s;
}

::selection{
    background-color: rgba(0, 0, 0, 0.500);
}

:root{
    --color2 : rgb(208, 97, 0) ;
    --second-background : rgb(255, 242, 231);
}

h2{
    font-family: Montserrat;
}

.first{
    background-color: black;
    /* background-image: url('../media/first-background.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    color: white;
    padding-bottom: 20px;
}

.maha-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    user-select: none;
}

.menu-hamburger{
    display: none;
}

.links-menu-bar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.links-menu-bar a:hover{
    opacity: 70%;
}

.socials button{
    background-color: var(--color2);
    color: white;
    padding: 5px;
    font-weight: 800;
    cursor: pointer;
    margin: 0 2px;
    padding: 10px;
}

.socials button:hover{
    background-color: rgb(181, 84, 0);
}


.menu-heading{
    color: white;
    font-size: 25px;
}

.dev-heading{
    color: var(--color2);
}

.user-image{
    filter: saturate(0.25);
    width: 19em;
    height: 19em;
    border-radius: 10px;
}

.user-image:hover{
    filter: saturate(0.50);
    transition: 1s;
}

.user-image:active{
    filter: saturate(1);
}

.content-area{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto
}

.image-text-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.text-area-1{
    margin: 10px 30px;
}

.hero-sojwal-name{
    font-size: 30px;
    font-weight: 300;
}

.sojwal-name{
    font-family: Montserrat;
    text-decoration-line: underline;
    text-decoration-color: var(--color2);
    text-decoration-thickness: 3px;
    font-weight: 600;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    margin-top:40px;
}

.skill-card{
    width:120px;
    height:120px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:#111;
    border:1px solid #2b2b2b;
    border-radius:15px;

    transition:.3s ease;
    cursor:pointer;
    filter: saturate(0);
}

.skill-card i{
    font-size:3rem;
    margin-bottom:15px;
}

.skill-card span{
    font-size:15px;
    font-weight:600;
    color:white;
}


.skill-card:hover{
    transform:translateY(-8px);
    border-color: var(--color2);
    box-shadow:0 10px 25px rgba(255,152,0,.15);
    filter: saturate(1);
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.project-card{
    background:#111;
    border:1px solid #2d2d2d;
    border-radius:16px;
    padding:25px;

    height:300px;

    display:flex;
    flex-direction:column;

    transition:.3s ease;
}

.project-card:hover{
    transform:translateY(-8px);
    border-color: var(--color2);
    box-shadow:0 10px 25px rgba(255,152,0,.15);
}

.project-card h3{
    font-size:1.2rem;
    margin-bottom:12px;

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.project-card p{
    color:#bdbdbd;
    margin-bottom:20px;
    min-height:24px;
}

.project-info{
    display:flex;
    justify-content:space-between;
    color:#999;
    font-size:.9rem;

    margin-top:auto;
    margin-bottom:18px;
}

.project-card a{
    color:#ff9800;
    text-decoration:none;
    font-weight:600;
    transition:.2s;
}

.project-card a:hover{
    opacity:.8;
}

#contact{
    padding:100px 10%;
    text-align:center;
}

.contact-text{
    max-width:700px;
    margin:20px auto 60px;
    color:#bdbdbd;
    line-height:1.8;
}

.contact-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    gap:25px;
}

.contact-card{

    background:#111;

    border:1px solid #2b2b2b;

    border-radius:18px;

    padding:35px 25px;

    text-decoration:none;

    color:white;

    transition:.3s;
}

.contact-card:hover{

    transform:translateY(-10px);

    border-color: var(--color2);

    box-shadow:0 15px 35px rgba(255,152,0,.15);
}

.contact-card i{

    font-size:2.8rem;

    color: var(--color2);

    margin-bottom:20px;
}

.contact-card h3{

    margin-bottom:10px;

    font-size:1.3rem;
}

.contact-card span{

    color:#bdbdbd;

    word-break:break-word;
}

.copyright-text{
    font-size: small;
    color: rgba(255, 255, 255, 0.500);
    font-family: Montserrat;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width:750px) {
    .first{
        height: max-content;
    }
    .menu-with-hamburger-for-phone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .links-menu-bar{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: 100vh;
        padding: 0;
        top: 60px;
        left : -100%;
        position: absolute;
        transition: 0.25s;
        z-index: 1;
        padding-top: 30px;
        text-align: center;
    }

    .links-menu-bar a{
        padding: 30px;
        font-size: 30px;
    }
    .menu-hamburger{
        display: flex;
        background-color: black;
        color: white;
        mix-blend-mode: difference;
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 30px;
    }

    .maha-menu{
        flex-direction: column;
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
    }

    .socials{
        padding: 40px 0;
    }

    .socials button{
        background-color: rgba(255, 255, 255, 0.100);
        font-weight: 400;
        font-size: 15px;
        padding: 6px;
        border: 0.5px solid rgba(255, 255, 255, 0.500);
        border-radius: 5px;
    }

    .socials button:hover{
        background-color: rgba(255, 255, 255, 0.200);
        color: white;
    }
}


@media screen and (max-width:800px) {
        .content-area{
        width: 100%;
    }

    .user-image{
        margin: auto;
    }

    .image-text-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
       align-content: center;
    }

    .text-area-1{
        text-align: center;
    }
}

.go-up-arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    mix-blend-mode: difference;
    border: 2px solid white;
    padding: 20px;
    border-radius: 100%;
    cursor: pointer;
    font-size: large;
}